@model IEnumerable<iCrawlerMvc.Models.UrlOfUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Times)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Keywords)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrlId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Times)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Keywords)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  urlId=item.UrlId  }) |
            @Html.ActionLink("Details", "Details", new {  urlId=item.UrlId  }) |
            @Html.ActionLink("Delete", "Delete", new {  urlId=item.UrlId  })
        </td>
    </tr>
}

</table>
